.task-view-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.task-view-card {
  margin-bottom: 15px;
}

.add-task-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.add-task-form button {
  width: 100px;
  height: 40px;
}

mat-form-field {
  padding-right: 10px;
  width: 500px;
}

@media (max-width: 700px) {
  mat-form-field {
    padding-right: 0;
    width: 100%;
  }

  .add-task-form {
    display: flex;
    flex-direction: column;
  }

  .add-task-form button {
    width: 100%;
    height: 40px;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
}

.mat-column-done {
  width: 60px;
  max-width: 70px;
}

.todo-list-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 40px;
}

.todo-list-button-container > button {
  display: none;
}

.mat-row:hover  {
  background-color: aliceblue;
}

.mat-row:hover .todo-list-button-container > button{
  display: block;
}

