<div class="task-view-container">
  <mat-card class="task-view-card">
    <mat-card-header>
      <mat-card-title>Add Task</mat-card-title>
    </mat-card-header>
    <mat-card-content class="add-task-card-content">
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Task description</mat-label>
          <input matInput [formControl]="taskDescriptionFormControl">
          <mat-error *ngIf="taskDescriptionFormControl.hasError('required')">
            Description is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmit()">Add Task</button>
      </form>
    </mat-card-content>
  </mat-card>
  <app-todo-list></app-todo-list>
</div>
