.app-header {
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 25px;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-icon:hover {
  cursor: pointer;
}

.header-icon i {
  margin-right: 0.2rem;
}
