.list-container {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
}

.mat-column-id {
  width: 50px;
  max-width: 70px;
}

.todo-list-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 40px;
}

.todo-list-button-container > button {
  display: none;
}

.mat-row:hover  {
  background-color: aliceblue;
}

.mat-row:hover .todo-list-button-container > button{
  display: block;
}
